* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background: #323CA4;
  font: normal 18pt Arial;
  margin: auto;
  height: 100vh;
  width: 100vw;
}

header {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 90vw;
  margin: auto;
  box-shadow: 5px 5px 10px #0A0E34;
}
div {
  text-align: center;
  padding: 8px;
}

footer {
color: white;
text-align: center;
font-style: italic;
}